<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.houjie.studyapk">

    <!-- 获取自启权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 获取打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 获取服务可改变界面权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 获取文件增删权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 获取sd卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 照相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".studyadapter.StudyAdapter" />
        <activity android:name=".studyadapter.adapter.ActivityCustemAdapter" />
        <activity android:name=".studyadapter.adapter.ActivityShowPeople" />
        <activity android:name=".studyadapter.adapter.ActivitySimpleAdapter" />
        <activity android:name=".studyadapter.adapter.ActivityArrayAdapter" />
        <activity android:name=".studyadapter.adapter.ActivityChatAdapter" />
        <activity android:name=".studyintent.StudyIntent" />
        <activity android:name=".studyintent.intent.SecActivity" />
        <activity android:name=".studyintent.intent.BackActivity" />
        <activity android:name=".studyintent.intent.ThridActivity">
            <intent-filter>
                <action android:name="shofahfohfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".studyview.StudyView" />
        <activity android:name=".studyview.view.RichText" />
        <activity android:name=".studyview.view.PickerSwitcher" />
        <activity android:name=".studyview.view.Login" />
        <activity android:name=".studyview.view.ForgetPassword" />
        <activity android:name=".studyview.view.LoginFinsh" />
        <activity android:name=".studyview.view.Register" />
        <activity android:name=".studyview.view.ViewSeekBar" />
        <activity android:name=".studyview.spinner.ViewSpinner" />
        <activity android:name=".studyview.viewpager.ActivityViewPager" />
        <activity android:name=".studyview.viewscroll.ViewScroll" />
        <activity android:name=".studytocastdialogwindow.StudyTDW" />
        <activity android:name=".studytocastdialogwindow.window.ActivityWindow" />
        <activity android:name=".studytocastdialogwindow.tocast.ActivityToast" />
        <activity android:name=".studytocastdialogwindow.dialog.ActivityDialog" />
        <activity android:name=".studynotification.ActivityNotification" />
        <activity android:name=".studymenu.ActivityMenu" />
        <activity android:name=".studyfragment.StudyFragment" />
        <activity android:name=".studyfragment.fragment.LifecycleActivity" />
        <activity android:name=".studyfragment.fragment.FragmentActivityTest" />
        <activity android:name=".studyfragment.fragmentpager.ActivityFragmentPager" />
        <activity android:name=".studytnewknowledge.tablayout.StudyTabLayout" />
        <activity android:name=".studytnewknowledge.ActivityStudyNewKnowledge" />
        <activity android:name=".studytnewknowledge.tablayout.ActivityTabFragment" />
        <activity android:name=".studytnewknowledge.viewcard.ActivityViewCard" />
        <activity android:name=".studytnewknowledge.recycler.learnrecycler.HorizontalRecycler" />
        <activity android:name=".studytnewknowledge.recycler.ActivityRecycler" />
        <activity android:name=".studytnewknowledge.recycler.learnrecycler.StagRecycler" />
        <activity android:name=".studytnewknowledge.recycler.testrecycler.TestRecycler" />
        <activity android:name=".studyservice.ActivityService" />
        <activity android:name=".studyservice.activity.TestServiceOne" />
        <activity android:name=".studyservice.activity.TestServiceTwo" />

        <service android:name=".studyservice.bean.FirstService" />
        <service android:name=".studyservice.bean.TestBindService" />
        <service android:name=".studyservice.bean.TestServiceReceiver" />
        <service android:name=".practicedownload.service.ServiceDownload" />

        <activity android:name=".studyreceiver.ActivityReceiver" />
        <activity android:name=".studyreceiver.activity.ReceiverTestStatic" />
        <activity android:name=".studyreceiver.activity.ReceiverTestAction" />

        <receiver android:name=".studyreceiver.receiver.TestReceiverStatic">
            <intent-filter android:priority="30">
                <action android:name="My_Receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".studyreceiver.receiver.ReceiverTestStaticOne">
            <intent-filter android:priority="100">
                <action android:name="My_Receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".studyreceiver.receiver.ReceiverTestStaticTwo">
            <intent-filter android:priority="500">
                <action android:name="My_Receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".studyreceiver.receiver.ReceiverTestStartOpen">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".practicedownload.ActivityDownload" />
        <activity android:name=".studyuithread.ActivityUIThread" />
        <activity android:name=".studyuithread.TestSwipeRefreshLayout" />
        <activity android:name=".studyview.viewpager.ActivityViewPagerLoop" />
        <activity android:name=".studydatastore.ActivityDataStore" />
        <activity android:name=".studydatastore.sharedpreference.ActivitySharedPreference" />
        <activity android:name=".studydatastore.filesystem.ActivityDataStoreFileSystem" />
        <activity android:name=".studydatastore.database.ActivityDatabase" />
        <activity android:name=".studydatastore.database.ActivityDatabaseAdapter" />
        <activity android:name=".studyview.webview.ActivityWebView" />
        <activity android:name=".studyxml.ActivityXML" />
        <activity android:name=".studyview.webview.ActivityWebViewLocal" />
        <activity android:name=".studyhttp.ActivityStudyHttp" />
        <activity android:name=".studyhttp.activity.ActivityHttpSeeNews" />
        <activity android:name=".studyhttp.activity.ActivityVolley" />
        <activity android:name=".studyhttp.activity.ActivityVolleySec" />
        <activity android:name=".studyhttp.activity.ActivityHttpOk" />
        <activity android:name=".studyhttp.activity.ActivityHttpOkSec" />
        <activity android:name=".studyanimation.ActivityAnimation" />
        <activity android:name=".studyanimation.ActivityAnimationPadding" />
        <activity android:name=".studyanimation.ActivityFBF" />
        <activity android:name=".studyanimation.ActivityAnimator" />
        <activity android:name=".studyanimation.ActivityAnimatorListView" />
        <activity android:name=".studyanimation.ActivityAnimationLayout" />
        <activity android:name=".studymedia.ActivityMedia" />
        <activity android:name=".studymedia.mipmap.ActivityMediaMipmap" />
        <activity android:name=".studymedia.canvas.ActivityMediaCanvas" />
        <activity android:name=".studymedia.canvas.ActivityMediaCanvasZigzag" />
        <activity android:name=".studymedia.canvas.ActivityMediaXfermode" />
        <activity android:name=".studymedia.canvas.ActivityMediaCatPicture" />
        <activity android:name=".studymedia.canvas.ActivityMediaChangeColor" />
        <activity android:name=".studymedia.mipmap.ActivityMediaMatrix" />
        <activity android:name=".studymedia.music.ActivityMediaMusic" />
        <activity android:name=".studymedia.music.ActivityMediaInternetMusic" />
        <activity android:name=".studymedia.video.ActivityMediaVideo" />
        <activity android:name=".studymedia.video.ActivityMediaInternetVideo" />
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <activity android:name=".studymedia.record.ActivityMediaRecord" />
        <activity android:name=".studysensor.ActivitySensor" />
        <activity android:name=".studysensor.ActivityCompass" />
        <activity android:name=".studyview.custom.ActivityCustomView" />
        <activity android:name=".studyview.custom.ActivityCustomViewGroup" />
        <activity android:name=".studyview.custom.ActivityCustomViewAccBall" />
        <activity android:name=".studyview.custom.ActivityCustomEvent"></activity>
    </application>

</manifest>